.cart-product-tile {
  background-color: var(--accent-light-1);
  padding: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-description,
.product-quantity {
  display: none;
}

.product-price {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  margin: 0.25rem;
}

.product-set-quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 8rem;
  min-width: 1rem;
}

@media (min-width: 46rem) {
  .cart-product-tile {
    grid-template-columns: 0.75fr 1.25fr 1fr;
  }
  .product-description,
  .product-quantity {
    font-size: 1rem;
    margin: 0.25rem;
    display: block;
  }
  .product-set-quantity {
    max-width: 100%;
  }
}
