<main>
  <nav>
    <div class="nav-content">
      <div class="links">
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/products']">Shop</a>
      </div>
      <a [routerLink]="['/']">
        <header class="brand-name">
          <img
            class="brand-logo"
            src="/assets/logo.png"
            alt="logo"
            aria-hidden="true"
          />
        </header>
      </a>
      <div *ngIf="user; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        <div class="links">
          <a [routerLink]="['/cart']">
            <fa-icon [icon]="faCartShopping"></fa-icon
          ></a>
          <a [routerLink]="['/user']"><fa-icon [icon]="faUser"></fa-icon></a>
          <button class="nav-button" (click)="logout()">
            <fa-icon [icon]="faRightFromBracket"></fa-icon>
          </button>
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <div class="links" style="display: flex; justify-content: right">
          <a [routerLink]="['/auth/login']"
            ><fa-icon [icon]="faUser"></fa-icon
          ></a>
        </div>
      </ng-template>
    </div>
  </nav>
  <section class="page-content">
    <router-outlet></router-outlet>
  </section>
</main>
