:host {
  --content-padding: 10px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  padding: var(--content-padding);
  background-color: var(--accent-bold-1);
}

.links {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: var(--accent-light-2);
}

.content {
  padding: var(--content-padding);
}
