:host {
  --content-padding: 10px;
}

nav {
  height: 5rem;
  background-color: var(--accent-bold-1);
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--content-padding);
  width: 100%;
}

.links {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
}

a {
  text-decoration: none;
  color: var(--accent-light-2);
}

a:hover {
  color: var(--accent-bold-2);
}
.content {
  padding: var(--content-padding);
}

.page-content {
  padding: 0.9375rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 46rem) {
  .page-content,
  .nav-content {
    max-width: 75rem;
  }
}

.nav-button {
  color: var(--accent-light-2);
  background-color: transparent;
  border: none;
}

.nav-button:hover {
  color: var(--accent-bold-2);
}
