.product-tile {
  background: var(--bg-color-1);
  min-width: 8rem;
  min-height: 6rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 0.7rem var(--accent-light-1);
  border-radius: 0.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-name {
  font-size: 1rem;
}
